/* geral */
* {
    margin: 0;
    font-family: Helvetica;
}

/* barra de navegação */
nav {
    background-color: #303030;
    border-bottom: 3px solid #101010;
    height: 50px;
}

#logo {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    position: absolute;
    top: 15px;
    left: 10px;
}

#menu {
    list-style: none;
    float: right;
    margin-top: 17px;
}

.item {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

.item a {
    color: #fff;
    text-decoration: none;
}

.item a:hover {
    color: #ccc;
    transition: .5s;
}